# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / build
dist/
build/
*.egg-info/
*.egg

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.ruff_cache/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

tests/
.github/*
!.github/workflows/
!.github/workflows/*.yml
